body {
	background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
	height: 50px;
	width: 50px;
	margin: 10px;
}

#name {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0px 0px -373px;
}
a, a:hover {
    color: white;
    text-decoration: initial;
}

#profiles {
	position: absolute;
	margin: -5px 0px 0px 240px;
}

#handle{
  position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px 0px 0px -150px;
}

#sites {
	position: absolute;
	margin: -10px 0px 0px 58px;
}


h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    line-height: 100px;
    color: #fff;
    margin: 0px 0px 0px 0px;
    vertical-align: text-bottom;
    padding: inherit;
}

h4 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    line-height: 100px;
    color: #fff;
    margin: 0px 0px 0px 0px;
    vertical-align: text-bottom;
    padding: inherit;
}

p {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
}
